.tonwa-page-container {
  width: 100%;
  /*padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);*/
  margin-right: auto;
  margin-left: auto;
}

.tonwa-page-header {
  background-color: aquamarine;
}

.tonwa-page-header-content {
  background-color: aqua;
}

.tonwa-page-footer {
  background-color: bisque;
}

.tonwa-page-footer-content {
  background-color: beige;
}

.tonwa-page-tabs {
  background-color: #f0f0f0;
}

.tonwa-tab-pane {
  display: none;
}

.tonwa-tab-pane.active {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fs-big {
  font-size: 1.25em;
}

div.tonwa-list-item:hover {
  background-color: #f0f0f0;
  opacity: 0.9;
}

.tonwa-bg-gray-1 {
  background-color: #f8f8f8;
}

.tonwa-bg-gray-2 {
  background-color: #f0f0f0;
}

.tonwa-bg-gray-3 {
  background-color: #e8e8e8;
}

.tonwa-bg-gray-4 {
  background-color: #e0e0e0;
}

@media (min-width: 576px) {
  .tonwa-page-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .tonwa-page-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .tonwa-page-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .tonwa-page-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .tonwa-page-container {
    max-width: 1320px;
  }
}